* {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

h2 {

    font-weight: 10px;;
}

